conversation:
    batching_buffer_time: 1.0
    depth: 3
    message_limit:
        count: 0
        period: hour
imagine:
    enabled: users_only
openai:
    api_key: ''
    image_model: dall-e-3
    model: gpt-4o-mini
    params:
        max_tokens: 4096
        temperature: 0.7
    prompt: You are an AI assistant.
    url: https://api.openai.com/v1
    window: 128000
persistence_path: ./data/persistence.pkl
schema_version: 4
shortcuts:
    bugfix: Examine the following code. Rewrite it if necessary to fix bugs and various
        problems. Explain the changes you've made.
    proofread: Proofread the following text. Correct grammar and punctuation errors.
        Rephrase if necessary. Make sure the resulting text is clear, concise, and
        easy to read. Explain the changes you've made.
    summarize: Explain the following text in simple terms. Use no more than two paragraphs.
    translate: Translate the following text into English.
telegram:
    admins: []
    chat_ids: []
    token: ''
    usernames: []
